/* Общие стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

h1{
    color: white;
}
h2{
    color: #333333;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

/* Шапка сайта */
.header {
    background: #007BFF;
    color: #fff;
    padding: 1rem 0;
}

.header .logo {
    margin: 0;
    font-size: 1.8rem;
}

.navigation ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
}

.navigation a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    transition: background 0.3s;
}

.navigation a:hover {
    background: #0056b3;
    border-radius: 4px;
}

.btn-login {
    border: 2px solid #fff;
    border-radius: 4px;
}

/* Герой секция */
.hero {
    background: linear-gradient(rgba(0, 123, 255, 0.8), rgba(0, 123, 255, 0.8));
    color: #fff;
    text-align: center;
    padding: 3rem 0;
}

/* Форма авторизации */
.auth {
    margin-top: 2rem;
}

.form-box {
    background: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-box h2 {
    margin-bottom: 1rem;
}

.form-box input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-box .btn {
    width: 100%;
    padding: 0.75rem;
    background: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
}

.form-box .btn:hover {
    background: #0056b3;
}

/* Alerts */
.messages {
    margin-bottom: 15px;
}

.alert {
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
}

.alert.success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.alert.error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

.alert.warning {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #ffeeba;
}
/* Подвал сайта */
.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0 ;
    background: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.footer p {
    margin: 0;
    font-size: 0.9rem;
}
